.navbar-brand {
    padding-top: 12px;
    margin: 0 auto;
}

.navbar-toggler {
    text-align: right;
    margin: 0 auto;
}

@media screen and (min-width: 992px) {
    #btnMobile {
      visibility: hidden;
      display: none;
    }
  }

@media screen and (max-width: 992px) {
    #btnDesktop {
      visibility: hidden;
      display: none;
    }
}

.divBtn {
    margin-left: auto;
}

.nav-link {
    display: inline-block;
}

.bg-light {
    background-color: white!important;
}

.btnNav {
    border: 0;
    border-bottom: 4px solid white;
    background-color: white;
    transition-duration: 0.3s;
}

.active {
    border-bottom: 4px solid rgb(90, 90, 90);
}

.nav-link {
    color: rgb(90, 90, 90);
    transition-duration: 0.3s;
}

.nav-link:hover {
    color: red;
}

.txtJustify {
    text-align: justify;
}

.btnAlign {
    text-align: center;
}

.btnRed {
    border: 1px solid red;
    background-color: white;
    transition-duration: 0.2s;
    color: red;
    border-radius: 3px;
}

.btnRed:hover {
    background-color: red;
}

.btnRed,a {
    color: red;
    transition-duration: 0.2s;
}

.btnRed,a:hover {
    color: white;   
    text-decoration: none;
}


.btnNav:hover {
    border-bottom: 4px solid red;
}

.divType {
    text-align: center;
}

.divClient {
    text-align: center;
}

.abtHover {
    border-radius: 3px;
    transition-duration: 0.3s;
}

.abtHover:hover {
    border: 1px solid red;
    background-color: white;
}

.abtClick {
    color: #212529;
    transition-duration: 0s;
}

.abtClick:hover {
    color: red;
}

.divApp {
    background-image: url(png/appbg.jpg);
    background-size: cover;
    text-align: center;
}

.txtEnvironment {
    text-align: left;
}

.divEnvironment {
    border: 1px solid #aaa;
}

.map {
    height: 350px;
    width: 100%;
  }

.btnContato {
    border: 0;
    width: 100%;
    background-color: #212529;
    color: #bbb;
    transition-duration: 0.3s;
    border-radius: 3px;
}

.btnContato:hover {
    background-color: red;
    color: white;
}

.git {
    color: #c24e4e;
}

.git:hover {
    text-decoration-line: underline;
    color: red;
}