html {
    scroll-behavior: smooth
}

.navbar-brand:hover {
    color: grey;
    text-align: left;
}

.divBtn {
    padding-top: 12px;
    text-align: right;
}

.nav-link {
    display: inline-block;
}

.navContainer {
    margin-bottom: -2px;
}


.bg-light {
    background-color: white !important;
}

.btnNav {
    border: 0;
    border-bottom: 4px solid white;
    background-color: white;
    transition-duration: 0.3s;
}

.active {
    border-bottom: 4px solid rgb(90, 90, 90);
}

.nav-link {
    color: rgb(90, 90, 90);
    transition-duration: 0.3s;
}

.nav-link:hover {
    color: red;
}

.txtJustify {
    text-align: justify;
}

.btnAlign {
    text-align: center;
}

.btnRed {
    border: 1px solid red;
    background-color: white;
    transition-duration: 0.2s;
    color: red;
    border-radius: 3px;
}

.btnRed:hover {
    background-color: red;
}

.btnRed,
a {
    color: red;
    transition-duration: 0.2s;
}

.btnRed,
a:hover {
    color: white;
    text-decoration: none;
}


.btnNav:hover {
    border-bottom: 4px solid red;
}

.divType {
    text-align: center;
}

.divClient {
    text-align: center;
}

.divApp {
    background-image: url(png/appbg.jpg);
    background-size: cover;
    text-align: center;
}

.txtEnvironment {
    text-align: left;
}

.divEnvironment {
    border: 1px solid #aaa;
}

.map {
    height: 400px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    #navDesktop {
        visibility: hidden;
        display: none;
    }
}